USE [Inventory]
GO
/****** Object:  User [CCMyBoss]    Script Date: 02/05/2012 16:24:08 ******/
CREATE USER [CCMyBoss] FOR LOGIN [CCMyBoss] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 02/05/2012 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] NOT NULL,
	[UserId] [int] NULL,
	[RoleId] [int] NOT NULL,
	[DepartmentId] [nvarchar](4) NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Designation] [int] NULL,
	[Email] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Employee] ([Id], [UserId], [RoleId], [DepartmentId], [Name], [Designation], [Email], [CreatedDate], [CreatedBy], [Status]) VALUES (1, 1, 3, N'ENGL', N'Mrs Pamela Kow', 3, N'pamelakow@LogicUniversity.com', CAST(0x00009FDD00000000 AS DateTime), 1, 1)
INSERT [dbo].[Employee] ([Id], [UserId], [RoleId], [DepartmentId], [Name], [Designation], [Email], [CreatedDate], [CreatedBy], [Status]) VALUES (2, 2, 5, N'ENGL', N'Prof Ezra Pound', 2, N'ezrapound@LogicUniversity.com', CAST(0x00009FDD00000000 AS DateTime), 1, 1)
INSERT [dbo].[Employee] ([Id], [UserId], [RoleId], [DepartmentId], [Name], [Designation], [Email], [CreatedDate], [CreatedBy], [Status]) VALUES (3, 3, 3, N'CPSC', N'Mr Wee Kian Fatt', 1, N'weekianfatt@LogicUniversity.com', CAST(0x00009FDD00000000 AS DateTime), 1, 1)
/****** Object:  Table [dbo].[Notification]    Script Date: 02/05/2012 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[Id] [int] NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Message] [text] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemPrice]    Script Date: 02/05/2012 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemPrice](
	[ItemId] [nvarchar](4) NOT NULL,
	[SupplierId] [nvarchar](4) NOT NULL,
	[Price] [money] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_itemprice] PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC,
	[SupplierId] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[ItemPrice] ([ItemId], [SupplierId], [Price], [CreatedDate], [CreatedBy], [Status]) VALUES (N'C001', N'ALPA', 1.2000, CAST(0x00009FEA00000000 AS DateTime), 1, 1)
INSERT [dbo].[ItemPrice] ([ItemId], [SupplierId], [Price], [CreatedDate], [CreatedBy], [Status]) VALUES (N'C001', N'BANE', 1.5000, CAST(0x00009FEA00000000 AS DateTime), 1, 1)
INSERT [dbo].[ItemPrice] ([ItemId], [SupplierId], [Price], [CreatedDate], [CreatedBy], [Status]) VALUES (N'C001', N'CHEP', 1.4500, CAST(0x00009FEA00000000 AS DateTime), 1, 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
/****** Object:  Table [dbo].[Item]    Script Date: 02/05/2012 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Item](
	[Id] [nvarchar](4) NOT NULL,
	[ItemCategoryId] [int] NOT NULL,
	[Description] [text] NOT NULL,
	[ReorderLevel] [int] NOT NULL,
	[ReorderQty] [int] NOT NULL,
	[Cost] [money] NOT NULL,
	[UnitOfMeasureId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[Bin] [nvarchar](4) NULL,
 CONSTRAINT [PK_item] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Item] ([Id], [ItemCategoryId], [Description], [ReorderLevel], [ReorderQty], [Cost], [UnitOfMeasureId], [CreatedDate], [CreatedBy], [Status], [Bin]) VALUES (N'C001', 1, N'Clips Double 1"', 50, 30, 0.0000, 1, CAST(0x00009FE800CC024E AS DateTime), 1, 1, NULL)
INSERT [dbo].[Item] ([Id], [ItemCategoryId], [Description], [ReorderLevel], [ReorderQty], [Cost], [UnitOfMeasureId], [CreatedDate], [CreatedBy], [Status], [Bin]) VALUES (N'C002', 1, N'Clips Double 2"', 50, 30, 100.0000, 1, CAST(0x00009FE800CC02BA AS DateTime), 1, 1, NULL)
INSERT [dbo].[Item] ([Id], [ItemCategoryId], [Description], [ReorderLevel], [ReorderQty], [Cost], [UnitOfMeasureId], [CreatedDate], [CreatedBy], [Status], [Bin]) VALUES (N'C003', 1, N'Clips Double 3/4"', 50, 30, 0.0000, 1, CAST(0x00009FE800CC02BA AS DateTime), 1, 1, NULL)
/****** Object:  Table [dbo].[Discrepancy]    Script Date: 02/05/2012 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Discrepancy](
	[Id] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_discrepancy] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Discrepancy] ([Id], [CreatedDate], [CreatedBy], [Status]) VALUES (1, CAST(0x00009D1100000000 AS DateTime), 1, 1)
INSERT [dbo].[Discrepancy] ([Id], [CreatedDate], [CreatedBy], [Status]) VALUES (2, CAST(0x00009FEC00000000 AS DateTime), 2, 1)
INSERT [dbo].[Discrepancy] ([Id], [CreatedDate], [CreatedBy], [Status]) VALUES (3, CAST(0x00009FED00000000 AS DateTime), 3, 1)
/****** Object:  Table [dbo].[DiscrepancyDetails]    Script Date: 02/05/2012 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscrepancyDetails](
	[Id] [int] NOT NULL,
	[DiscrepancyId] [int] NOT NULL,
	[ItemId] [nvarchar](4) NOT NULL,
	[DiscrepancyType] [int] NOT NULL,
	[Qty] [int] NOT NULL,
	[Remarks] [text] NULL,
	[Status] [int] NULL,
 CONSTRAINT [PK_discrepancydetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[DiscrepancyDetails] ([Id], [DiscrepancyId], [ItemId], [DiscrepancyType], [Qty], [Remarks], [Status]) VALUES (1, 1, N'C001', 1, 10, N'Testing', NULL)
INSERT [dbo].[DiscrepancyDetails] ([Id], [DiscrepancyId], [ItemId], [DiscrepancyType], [Qty], [Remarks], [Status]) VALUES (2, 1, N'C002', 1, 20, N'Testing', NULL)
INSERT [dbo].[DiscrepancyDetails] ([Id], [DiscrepancyId], [ItemId], [DiscrepancyType], [Qty], [Remarks], [Status]) VALUES (3, 2, N'C003', 2, 11, N'Tesing', NULL)
/****** Object:  Table [dbo].[CollectionPoint]    Script Date: 02/05/2012 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CollectionPoint](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Time] [time](0) NOT NULL,
	[ClerkId] [int] NULL,
 CONSTRAINT [PK_collectionpoint] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CollectionPoint] ([Id], [Name], [Time], [ClerkId]) VALUES (1, N'Administration Building', CAST(0x0098850000000000 AS Time), 21)
INSERT [dbo].[CollectionPoint] ([Id], [Name], [Time], [ClerkId]) VALUES (2, N'Management School', CAST(0x00B09A0000000000 AS Time), 21)
INSERT [dbo].[CollectionPoint] ([Id], [Name], [Time], [ClerkId]) VALUES (3, N'Medical School', CAST(0x0098850000000000 AS Time), 22)
/****** Object:  Table [dbo].[Department]    Script Date: 02/05/2012 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Id] [nvarchar](4) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[ContactId] [int] NULL,
	[PhoneNumber] [nvarchar](7) NOT NULL,
	[FaxNumber] [nvarchar](7) NOT NULL,
	[HeadId] [int] NULL,
	[CollectionPointId] [int] NULL,
	[RepresentativeId] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_department] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Department] ([Id], [Name], [ContactId], [PhoneNumber], [FaxNumber], [HeadId], [CollectionPointId], [RepresentativeId], [CreatedDate], [CreatedBy], [Status]) VALUES (N'COMM', N'Commerce Dept', 5, N'8741284', N'8921256', 6, NULL, NULL, CAST(0x00009FDD00000000 AS DateTime), 1, 3)
INSERT [dbo].[Department] ([Id], [Name], [ContactId], [PhoneNumber], [FaxNumber], [HeadId], [CollectionPointId], [RepresentativeId], [CreatedDate], [CreatedBy], [Status]) VALUES (N'CPSC', N'Computer Science', 3, N'8901235', N'8921457', 4, 4, NULL, CAST(0x00009FDD00000000 AS DateTime), 1, 3)
INSERT [dbo].[Department] ([Id], [Name], [ContactId], [PhoneNumber], [FaxNumber], [HeadId], [CollectionPointId], [RepresentativeId], [CreatedDate], [CreatedBy], [Status]) VALUES (N'ENGL', N'English Dept', 1, N'8742234', N'8921456', 2, 4, NULL, CAST(0x00009FDD00000000 AS DateTime), 1, 3)
/****** Object:  Table [dbo].[CollectionMissed]    Script Date: 02/05/2012 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CollectionMissed](
	[Id] [int] NOT NULL,
	[DepartmentId] [nvarchar](4) NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_CollectionMissed] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CollectionMissed] ([Id], [DepartmentId], [CreatedBy], [CreatedDate], [Status]) VALUES (1, N'ENGL', 1, CAST(0x00009FCC00000000 AS DateTime), 2)
INSERT [dbo].[CollectionMissed] ([Id], [DepartmentId], [CreatedBy], [CreatedDate], [Status]) VALUES (2, N'COMM', 2, CAST(0x00009FCD00000000 AS DateTime), 2)
INSERT [dbo].[CollectionMissed] ([Id], [DepartmentId], [CreatedBy], [CreatedDate], [Status]) VALUES (3, N'COMM', 2, CAST(0x00009FCD00000000 AS DateTime), 2)
/****** Object:  Table [dbo].[Supplier]    Script Date: 02/05/2012 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[Id] [nvarchar](4) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Priority] [int] NOT NULL,
	[ContactName] [nvarchar](30) NOT NULL,
	[PhoneNumber] [nvarchar](7) NOT NULL,
	[FaxNumber] [nvarchar](7) NOT NULL,
	[Address] [text] NOT NULL,
	[GstRegistrationNumber] [nvarchar](12) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_supplier] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Supplier] ([Id], [Name], [Priority], [ContactName], [PhoneNumber], [FaxNumber], [Address], [GstRegistrationNumber], [CreatedDate], [CreatedBy], [Status]) VALUES (N'ALPA', N'ALPHA Iffice Supplies', 3, N'Ms Irene Tan', N'4619928', N'4612238', N'Blk 1128, Ang Mo Kio Industrial Park #02-1108 Ang Mo Kio Street 62 Singapore 622262', N'MR-8500440-2', CAST(0x00009FDD00000000 AS DateTime), NULL, 1)
INSERT [dbo].[Supplier] ([Id], [Name], [Priority], [ContactName], [PhoneNumber], [FaxNumber], [Address], [GstRegistrationNumber], [CreatedDate], [CreatedBy], [Status]) VALUES (N'BANE', N'BANES Shop', 1, N'Mr Loh Ah Pek', N'4781234', N'4792434', N'Blk 124, Alexandra Road #03-04 Banes Building Singapore 550315', N'MR-8200420-2', CAST(0x00009FDD00000000 AS DateTime), NULL, 1)
INSERT [dbo].[Supplier] ([Id], [Name], [Priority], [ContactName], [PhoneNumber], [FaxNumber], [Address], [GstRegistrationNumber], [CreatedDate], [CreatedBy], [Status]) VALUES (N'CHEP', N'CHEAP Stationer', 2, N'Mr Soh Kway Koh', N'3543234', N'4742434', N'Blk 34, Climenti Road #07-02 Ban Ban Soh Buildding Singapore 110525', N'null', CAST(0x00009FDD00000000 AS DateTime), NULL, 1)
/****** Object:  Table [dbo].[PurchaseOrder]    Script Date: 02/05/2012 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrder](
	[Id] [int] NOT NULL,
	[SupplierId] [nvarchar](4) NOT NULL,
	[DeliverAddress] [text] NOT NULL,
	[Attn] [nvarchar](30) NOT NULL,
	[ExpectedDate] [datetime] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[ApprovedDate] [datetime] NULL,
	[ApprovedBy] [int] NULL,
	[Status] [int] NOT NULL,
	[DeliveryOrderNumber] [nvarchar](15) NULL,
	[DeliveryDate] [datetime] NULL,
	[AcceptedBy] [int] NULL,
	[Remarks] [text] NULL,
 CONSTRAINT [PK_purchaseorder] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[PurchaseOrder] ([Id], [SupplierId], [DeliverAddress], [Attn], [ExpectedDate], [CreatedDate], [CreatedBy], [ApprovedDate], [ApprovedBy], [Status], [DeliveryOrderNumber], [DeliveryDate], [AcceptedBy], [Remarks]) VALUES (200000068, N'ALPA', N'Clementi', N'Thazin', CAST(0x00009FF200000000 AS DateTime), CAST(0x00009FEC00000000 AS DateTime), 1, CAST(0x00009FEE00000000 AS DateTime), 1, 1, N'333333', CAST(0x00009FED01175315 AS DateTime), 26, NULL)
INSERT [dbo].[PurchaseOrder] ([Id], [SupplierId], [DeliverAddress], [Attn], [ExpectedDate], [CreatedDate], [CreatedBy], [ApprovedDate], [ApprovedBy], [Status], [DeliveryOrderNumber], [DeliveryDate], [AcceptedBy], [Remarks]) VALUES (200000069, N'ALPA', N'Commonwealth', N'Sanla', CAST(0x0000A0C600000000 AS DateTime), CAST(0x00009FEA00000000 AS DateTime), 1, CAST(0x00009FED00000000 AS DateTime), 1, 1, N'1111', CAST(0x00009FED01272229 AS DateTime), 26, NULL)
/****** Object:  Table [dbo].[StockCardDetails]    Script Date: 02/05/2012 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockCardDetails](
	[Id] [int] NOT NULL,
	[ItemId] [nvarchar](4) NOT NULL,
	[Description] [text] NOT NULL,
	[Qty] [int] NOT NULL,
	[Balance] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_stockcarddetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[StockCardDetails] ([Id], [ItemId], [Description], [Qty], [Balance], [CreatedDate], [CreatedBy], [Status]) VALUES (1, N'C001', N'Supplier-ALPA', 100, 100, CAST(0x00009FEC00000000 AS DateTime), 1, 1)
INSERT [dbo].[StockCardDetails] ([Id], [ItemId], [Description], [Qty], [Balance], [CreatedDate], [CreatedBy], [Status]) VALUES (2, N'C001', N'Supplier-BANE', 150, 250, CAST(0x00009FED00000000 AS DateTime), 2, 1)
INSERT [dbo].[StockCardDetails] ([Id], [ItemId], [Description], [Qty], [Balance], [CreatedDate], [CreatedBy], [Status]) VALUES (3, N'C001', N'English Department', -50, 200, CAST(0x00009FEE00000000 AS DateTime), 1, 1)
/****** Object:  Table [dbo].[StockAdjustment]    Script Date: 02/05/2012 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StockAdjustment](
	[Id] [nvarchar](15) NOT NULL,
	[DiscrepancyId] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_stockadjustment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[StockAdjustment] ([Id], [DiscrepancyId], [CreatedDate], [CreatedBy], [Status]) VALUES (N'002/1/12', 1, CAST(0x00009FEA00000000 AS DateTime), 2, 1)
INSERT [dbo].[StockAdjustment] ([Id], [DiscrepancyId], [CreatedDate], [CreatedBy], [Status]) VALUES (N'002/2/12', 2, CAST(0x00009FEB00000000 AS DateTime), 3, 1)
INSERT [dbo].[StockAdjustment] ([Id], [DiscrepancyId], [CreatedDate], [CreatedBy], [Status]) VALUES (N'002/3/12', 3, CAST(0x00009FEE00000000 AS DateTime), 4, 1)
/****** Object:  Table [dbo].[Role]    Script Date: 02/05/2012 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Role] ([Id], [Name], [CreatedDate], [CreatedBy], [Status]) VALUES (1, N'Admin', CAST(0x00009FDD00E6B680 AS DateTime), NULL, 1)
INSERT [dbo].[Role] ([Id], [Name], [CreatedDate], [CreatedBy], [Status]) VALUES (2, N'Employee', CAST(0x00009FDD00000000 AS DateTime), NULL, 1)
INSERT [dbo].[Role] ([Id], [Name], [CreatedDate], [CreatedBy], [Status]) VALUES (3, N'Department Representative', CAST(0x00009FDD00000000 AS DateTime), NULL, 1)
/****** Object:  Table [dbo].[Retrieval]    Script Date: 02/05/2012 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Retrieval](
	[Id] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_retrieval] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Retrieval] ([Id], [CreatedDate], [CreatedBy], [Status]) VALUES (1, CAST(0x00009FED00000000 AS DateTime), 2, 1)
INSERT [dbo].[Retrieval] ([Id], [CreatedDate], [CreatedBy], [Status]) VALUES (2, CAST(0x00009FEE00000000 AS DateTime), 3, 1)
/****** Object:  Table [dbo].[RetrievalDetails]    Script Date: 02/05/2012 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RetrievalDetails](
	[Id] [int] NOT NULL,
	[RetrievalId] [int] NOT NULL,
	[ItemId] [nvarchar](4) NOT NULL,
	[DepartmentId] [nvarchar](4) NOT NULL,
	[NeededQty] [int] NOT NULL,
	[ActualQty] [int] NULL,
 CONSTRAINT [PK_retrievaldetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[RetrievalDetails] ([Id], [RetrievalId], [ItemId], [DepartmentId], [NeededQty], [ActualQty]) VALUES (1, 1, N'C001', N'COMM', 30, 25)
INSERT [dbo].[RetrievalDetails] ([Id], [RetrievalId], [ItemId], [DepartmentId], [NeededQty], [ActualQty]) VALUES (2, 1, N'C002', N'CPSC', 20, 12)
/****** Object:  Table [dbo].[Requisition]    Script Date: 02/05/2012 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Requisition](
	[Id] [nvarchar](15) NOT NULL,
	[DepartmentId] [nvarchar](4) NOT NULL,
	[EmployeeId] [int] NOT NULL,
	[Remarks] [text] NULL,
	[ApprovedBy] [int] NULL,
	[ApprovedDate] [datetime] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_requisition] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Requisition] ([Id], [DepartmentId], [EmployeeId], [Remarks], [ApprovedBy], [ApprovedDate], [CreatedDate], [Status]) VALUES (N'COMM/1/12', N'COMM', 5, N'', 6, CAST(0x00009EDB00000000 AS DateTime), CAST(0x00009ED700000000 AS DateTime), 4)
INSERT [dbo].[Requisition] ([Id], [DepartmentId], [EmployeeId], [Remarks], [ApprovedBy], [ApprovedDate], [CreatedDate], [Status]) VALUES (N'COMM/10/12', N'COMM', 5, N'', 6, CAST(0x00009FEC00000000 AS DateTime), CAST(0x00009FEA00000000 AS DateTime), 4)
INSERT [dbo].[Requisition] ([Id], [DepartmentId], [EmployeeId], [Remarks], [ApprovedBy], [ApprovedDate], [CreatedDate], [Status]) VALUES (N'COMM/11/12', N'COMM', 13, N'ok', 4, CAST(0x00009FEE00AD8B99 AS DateTime), CAST(0x00009FED01528735 AS DateTime), 4)
/****** Object:  Table [dbo].[RequisitionDetails]    Script Date: 02/05/2012 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequisitionDetails](
	[Id] [int] NOT NULL,
	[RequisitionId] [nvarchar](15) NOT NULL,
	[ItemId] [nvarchar](4) NOT NULL,
	[Qty] [int] NOT NULL,
	[DeliveredQty] [int] NULL,
 CONSTRAINT [PK_requisitiondetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[RequisitionDetails] ([Id], [RequisitionId], [ItemId], [Qty], [DeliveredQty]) VALUES (1, N'COMM/1/12', N'C001', 5, NULL)
INSERT [dbo].[RequisitionDetails] ([Id], [RequisitionId], [ItemId], [Qty], [DeliveredQty]) VALUES (2, N'COMM/1/12', N'C002', 5, NULL)
INSERT [dbo].[RequisitionDetails] ([Id], [RequisitionId], [ItemId], [Qty], [DeliveredQty]) VALUES (3, N'COMM/1/12', N'C003', 5, NULL)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
/****** Object:  Table [dbo].[User]    Script Date: 02/05/2012 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] NOT NULL,
	[UserName] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](30) NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_user] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[User] ([Id], [UserName], [Password], [CreatedDate], [CreatedBy], [Status]) VALUES (1, N'pamelakow', N'pamelakow', CAST(0x00009FDD00000000 AS DateTime), 26, 1)
INSERT [dbo].[User] ([Id], [UserName], [Password], [CreatedDate], [CreatedBy], [Status]) VALUES (2, N'ezrapound', N'ezrapound', CAST(0x00009FE400000000 AS DateTime), 26, 1)
INSERT [dbo].[User] ([Id], [UserName], [Password], [CreatedDate], [CreatedBy], [Status]) VALUES (3, N'weekianfatt', N'weekianfatt', CAST(0x00009FE400000000 AS DateTime), 26, 1)
/****** Object:  Table [dbo].[UnitOfMeasure]    Script Date: 02/05/2012 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UnitOfMeasure](
	[Id] [int] NOT NULL,
	[Name] [nvarchar](20) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[UnitOfMeasure] ([Id], [Name]) VALUES (1, N'Dozen')
INSERT [dbo].[UnitOfMeasure] ([Id], [Name]) VALUES (2, N'Box')
INSERT [dbo].[UnitOfMeasure] ([Id], [Name]) VALUES (3, N'Each')
/****** Object:  Table [dbo].[PurchaseOrderDetails]    Script Date: 02/05/2012 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchaseOrderDetails](
	[Id] [int] NOT NULL,
	[PurchaseOrderId] [int] NOT NULL,
	[ItemId] [nvarchar](4) NOT NULL,
	[Price] [money] NOT NULL,
	[Qty] [int] NOT NULL,
	[AcceptedQty] [int] NULL,
	[Remarks] [text] NULL,
 CONSTRAINT [PK_purchaseorderdetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[PurchaseOrderDetails] ([Id], [PurchaseOrderId], [ItemId], [Price], [Qty], [AcceptedQty], [Remarks]) VALUES (1, 200000068, N'E036', 200.0000, 2, 1, NULL)
INSERT [dbo].[PurchaseOrderDetails] ([Id], [PurchaseOrderId], [ItemId], [Price], [Qty], [AcceptedQty], [Remarks]) VALUES (2, 200000068, N'C002', 300.0000, 1, 1, NULL)
INSERT [dbo].[PurchaseOrderDetails] ([Id], [PurchaseOrderId], [ItemId], [Price], [Qty], [AcceptedQty], [Remarks]) VALUES (3, 200000068, N'C004', 100.0000, 5, 5, NULL)
/****** Object:  Table [dbo].[RequisitionCollection]    Script Date: 02/05/2012 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequisitionCollection](
	[Id] [int] NOT NULL,
	[DepartmentId] [nvarchar](4) NOT NULL,
	[CollectionPointId] [int] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[Status] [int] NOT NULL,
	[DeliveryDate] [date] NULL,
	[DeliveryBy] [int] NULL,
 CONSTRAINT [PK_requisitioncollection] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[RequisitionCollection] ([Id], [DepartmentId], [CollectionPointId], [CreatedDate], [CreatedBy], [Status], [DeliveryDate], [DeliveryBy]) VALUES (1, N'ENGL', 4, CAST(0x00009FEA015D96B2 AS DateTime), 1, 1, NULL, NULL)
INSERT [dbo].[RequisitionCollection] ([Id], [DepartmentId], [CollectionPointId], [CreatedDate], [CreatedBy], [Status], [DeliveryDate], [DeliveryBy]) VALUES (2, N'ENGL', 4, CAST(0x00009FEB0091418B AS DateTime), 1, 1, NULL, NULL)
INSERT [dbo].[RequisitionCollection] ([Id], [DepartmentId], [CollectionPointId], [CreatedDate], [CreatedBy], [Status], [DeliveryDate], [DeliveryBy]) VALUES (3, N'ENGL', 4, CAST(0x00009FEB0094E38F AS DateTime), 1, 1, NULL, NULL)
/****** Object:  Table [dbo].[RequisitionCollectionItems]    Script Date: 02/05/2012 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequisitionCollectionItems](
	[Id] [int] NOT NULL,
	[RequisitionCollectionId] [int] NOT NULL,
	[ItemId] [nvarchar](4) NOT NULL,
	[Qty] [int] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedBy] [int] NOT NULL,
	[Status] [int] NOT NULL,
 CONSTRAINT [PK_requisitioncollectionitems] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[RequisitionCollectionItems] ([Id], [RequisitionCollectionId], [ItemId], [Qty], [CreatedDate], [CreatedBy], [Status]) VALUES (1, 2, N'C006', 5, CAST(0x00009FEC00F66F21 AS DateTime), 1, 1)
INSERT [dbo].[RequisitionCollectionItems] ([Id], [RequisitionCollectionId], [ItemId], [Qty], [CreatedDate], [CreatedBy], [Status]) VALUES (2, 2, N'D001', 36, CAST(0x00009FEC00F66F26 AS DateTime), 1, 1)
INSERT [dbo].[RequisitionCollectionItems] ([Id], [RequisitionCollectionId], [ItemId], [Qty], [CreatedDate], [CreatedBy], [Status]) VALUES (3, 2, N'E001', 54, CAST(0x00009FEC00F66F2B AS DateTime), 1, 1)
/****** Object:  Table [dbo].[RequisitionCollectionDetails]    Script Date: 02/05/2012 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequisitionCollectionDetails](
	[Id] [int] NOT NULL,
	[RequisitionId] [nvarchar](15) NOT NULL,
	[RequisitionCollectionId] [int] NOT NULL,
 CONSTRAINT [PK_requisitioncollectiondetails] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[RequisitionCollectionDetails] ([Id], [RequisitionId], [RequisitionCollectionId]) VALUES (1, N'COMM/1/12', 1)
INSERT [dbo].[RequisitionCollectionDetails] ([Id], [RequisitionId], [RequisitionCollectionId]) VALUES (2, N'COMM/10/12', 1)
INSERT [dbo].[RequisitionCollectionDetails] ([Id], [RequisitionId], [RequisitionCollectionId]) VALUES (3, N'COMM/2/12', 2)
/****** Object:  Table [dbo].[Category]    Script Date: 02/05/2012 16:24:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [int] NOT NULL,
	[name] [nvarchar](20) NULL,
 CONSTRAINT [PK_Category1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([id], [name]) VALUES (1, N'Clip')
INSERT [dbo].[Category] ([id], [name]) VALUES (2, N'Envelope')
INSERT [dbo].[Category] ([id], [name]) VALUES (3, N'Eraser')
/****** Object:  ForeignKey [FK_CollectionMissed_Department1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[CollectionMissed]  WITH CHECK ADD  CONSTRAINT [FK_CollectionMissed_Department1] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([Id])
GO
ALTER TABLE [dbo].[CollectionMissed] CHECK CONSTRAINT [FK_CollectionMissed_Department1]
GO
/****** Object:  ForeignKey [FK_CollectionMissed_Employee1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[CollectionMissed]  WITH CHECK ADD  CONSTRAINT [FK_CollectionMissed_Employee1] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[CollectionMissed] CHECK CONSTRAINT [FK_CollectionMissed_Employee1]
GO
/****** Object:  ForeignKey [FK_CollectionPoint_Employee1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[CollectionPoint]  WITH CHECK ADD  CONSTRAINT [FK_CollectionPoint_Employee1] FOREIGN KEY([ClerkId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[CollectionPoint] CHECK CONSTRAINT [FK_CollectionPoint_Employee1]
GO
/****** Object:  ForeignKey [FK_department_collectionpoint1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_department_collectionpoint1] FOREIGN KEY([CollectionPointId])
REFERENCES [dbo].[CollectionPoint] ([Id])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_department_collectionpoint1]
GO
/****** Object:  ForeignKey [FK_department_employee1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_department_employee1] FOREIGN KEY([ContactId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_department_employee1]
GO
/****** Object:  ForeignKey [FK_department_employee2]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_department_employee2] FOREIGN KEY([HeadId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_department_employee2]
GO
/****** Object:  ForeignKey [FK_department_employee3]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_department_employee3] FOREIGN KEY([RepresentativeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_department_employee3]
GO
/****** Object:  ForeignKey [FK_department_employee4]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[Department]  WITH CHECK ADD  CONSTRAINT [FK_department_employee4] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Department] CHECK CONSTRAINT [FK_department_employee4]
GO
/****** Object:  ForeignKey [FK_discrepancy_employee1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[Discrepancy]  WITH CHECK ADD  CONSTRAINT [FK_discrepancy_employee1] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Discrepancy] CHECK CONSTRAINT [FK_discrepancy_employee1]
GO
/****** Object:  ForeignKey [FK_discrepancydetails_discrepancy1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[DiscrepancyDetails]  WITH CHECK ADD  CONSTRAINT [FK_discrepancydetails_discrepancy1] FOREIGN KEY([DiscrepancyId])
REFERENCES [dbo].[Discrepancy] ([Id])
GO
ALTER TABLE [dbo].[DiscrepancyDetails] CHECK CONSTRAINT [FK_discrepancydetails_discrepancy1]
GO
/****** Object:  ForeignKey [FK_discrepancydetails_item1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[DiscrepancyDetails]  WITH CHECK ADD  CONSTRAINT [FK_discrepancydetails_item1] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[DiscrepancyDetails] CHECK CONSTRAINT [FK_discrepancydetails_item1]
GO
/****** Object:  ForeignKey [FK_employee_department1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_employee_department1] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_employee_department1]
GO
/****** Object:  ForeignKey [FK_employee_employee1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_employee_employee1] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_employee_employee1]
GO
/****** Object:  ForeignKey [FK_employee_role1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_employee_role1] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_employee_role1]
GO
/****** Object:  ForeignKey [FK_employee_user1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_employee_user1] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_employee_user1]
GO
/****** Object:  ForeignKey [FK_item_employee1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[Item]  WITH CHECK ADD  CONSTRAINT [FK_item_employee1] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Item] CHECK CONSTRAINT [FK_item_employee1]
GO
/****** Object:  ForeignKey [FK_itemprice_employee1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[ItemPrice]  WITH CHECK ADD  CONSTRAINT [FK_itemprice_employee1] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[ItemPrice] CHECK CONSTRAINT [FK_itemprice_employee1]
GO
/****** Object:  ForeignKey [FK_Notification_Employee1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Employee1] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Employee1]
GO
/****** Object:  ForeignKey [FK_purchaseorder_employee1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[PurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_purchaseorder_employee1] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[PurchaseOrder] CHECK CONSTRAINT [FK_purchaseorder_employee1]
GO
/****** Object:  ForeignKey [FK_purchaseorder_employee2]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[PurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_purchaseorder_employee2] FOREIGN KEY([ApprovedBy])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[PurchaseOrder] CHECK CONSTRAINT [FK_purchaseorder_employee2]
GO
/****** Object:  ForeignKey [FK_PurchaseOrder_Employee3]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[PurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseOrder_Employee3] FOREIGN KEY([AcceptedBy])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[PurchaseOrder] CHECK CONSTRAINT [FK_PurchaseOrder_Employee3]
GO
/****** Object:  ForeignKey [FK_purchaseorder_supplier1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[PurchaseOrder]  WITH CHECK ADD  CONSTRAINT [FK_purchaseorder_supplier1] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([Id])
GO
ALTER TABLE [dbo].[PurchaseOrder] CHECK CONSTRAINT [FK_purchaseorder_supplier1]
GO
/****** Object:  ForeignKey [FK_requisition_department1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[Requisition]  WITH CHECK ADD  CONSTRAINT [FK_requisition_department1] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([Id])
GO
ALTER TABLE [dbo].[Requisition] CHECK CONSTRAINT [FK_requisition_department1]
GO
/****** Object:  ForeignKey [FK_requisition_employee1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[Requisition]  WITH CHECK ADD  CONSTRAINT [FK_requisition_employee1] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Requisition] CHECK CONSTRAINT [FK_requisition_employee1]
GO
/****** Object:  ForeignKey [FK_requisition_employee2]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[Requisition]  WITH CHECK ADD  CONSTRAINT [FK_requisition_employee2] FOREIGN KEY([ApprovedBy])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Requisition] CHECK CONSTRAINT [FK_requisition_employee2]
GO
/****** Object:  ForeignKey [FK_requisitioncollectiondetails_requisition1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[RequisitionCollectionDetails]  WITH CHECK ADD  CONSTRAINT [FK_requisitioncollectiondetails_requisition1] FOREIGN KEY([RequisitionId])
REFERENCES [dbo].[Requisition] ([Id])
GO
ALTER TABLE [dbo].[RequisitionCollectionDetails] CHECK CONSTRAINT [FK_requisitioncollectiondetails_requisition1]
GO
/****** Object:  ForeignKey [FK_RequisitionCollectionDetails_RequisitionCollection1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[RequisitionCollectionDetails]  WITH CHECK ADD  CONSTRAINT [FK_RequisitionCollectionDetails_RequisitionCollection1] FOREIGN KEY([RequisitionCollectionId])
REFERENCES [dbo].[RequisitionCollection] ([Id])
GO
ALTER TABLE [dbo].[RequisitionCollectionDetails] CHECK CONSTRAINT [FK_RequisitionCollectionDetails_RequisitionCollection1]
GO
/****** Object:  ForeignKey [FK_requisitioncollectionitems_employee1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[RequisitionCollectionItems]  WITH CHECK ADD  CONSTRAINT [FK_requisitioncollectionitems_employee1] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[RequisitionCollectionItems] CHECK CONSTRAINT [FK_requisitioncollectionitems_employee1]
GO
/****** Object:  ForeignKey [FK_requisitioncollectionitems_item1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[RequisitionCollectionItems]  WITH CHECK ADD  CONSTRAINT [FK_requisitioncollectionitems_item1] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[RequisitionCollectionItems] CHECK CONSTRAINT [FK_requisitioncollectionitems_item1]
GO
/****** Object:  ForeignKey [FK_requisitioncollectionitems_requisitioncollection1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[RequisitionCollectionItems]  WITH CHECK ADD  CONSTRAINT [FK_requisitioncollectionitems_requisitioncollection1] FOREIGN KEY([RequisitionCollectionId])
REFERENCES [dbo].[RequisitionCollection] ([Id])
GO
ALTER TABLE [dbo].[RequisitionCollectionItems] CHECK CONSTRAINT [FK_requisitioncollectionitems_requisitioncollection1]
GO
/****** Object:  ForeignKey [FK_requisitiondetails_item1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[RequisitionDetails]  WITH CHECK ADD  CONSTRAINT [FK_requisitiondetails_item1] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[RequisitionDetails] CHECK CONSTRAINT [FK_requisitiondetails_item1]
GO
/****** Object:  ForeignKey [FK_requisitiondetails_requisition1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[RequisitionDetails]  WITH CHECK ADD  CONSTRAINT [FK_requisitiondetails_requisition1] FOREIGN KEY([RequisitionId])
REFERENCES [dbo].[Requisition] ([Id])
GO
ALTER TABLE [dbo].[RequisitionDetails] CHECK CONSTRAINT [FK_requisitiondetails_requisition1]
GO
/****** Object:  ForeignKey [FK_retrieval_employee1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[Retrieval]  WITH CHECK ADD  CONSTRAINT [FK_retrieval_employee1] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Retrieval] CHECK CONSTRAINT [FK_retrieval_employee1]
GO
/****** Object:  ForeignKey [FK_retrievaldetails_department1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[RetrievalDetails]  WITH CHECK ADD  CONSTRAINT [FK_retrievaldetails_department1] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Department] ([Id])
GO
ALTER TABLE [dbo].[RetrievalDetails] CHECK CONSTRAINT [FK_retrievaldetails_department1]
GO
/****** Object:  ForeignKey [FK_retrievaldetails_item1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[RetrievalDetails]  WITH CHECK ADD  CONSTRAINT [FK_retrievaldetails_item1] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[RetrievalDetails] CHECK CONSTRAINT [FK_retrievaldetails_item1]
GO
/****** Object:  ForeignKey [FK_retrievaldetails_retrieval1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[RetrievalDetails]  WITH CHECK ADD  CONSTRAINT [FK_retrievaldetails_retrieval1] FOREIGN KEY([RetrievalId])
REFERENCES [dbo].[Retrieval] ([Id])
GO
ALTER TABLE [dbo].[RetrievalDetails] CHECK CONSTRAINT [FK_retrievaldetails_retrieval1]
GO
/****** Object:  ForeignKey [FK_role_employee1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[Role]  WITH CHECK ADD  CONSTRAINT [FK_role_employee1] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Role] CHECK CONSTRAINT [FK_role_employee1]
GO
/****** Object:  ForeignKey [FK_stockadjustment_discrepancy1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[StockAdjustment]  WITH CHECK ADD  CONSTRAINT [FK_stockadjustment_discrepancy1] FOREIGN KEY([DiscrepancyId])
REFERENCES [dbo].[Discrepancy] ([Id])
GO
ALTER TABLE [dbo].[StockAdjustment] CHECK CONSTRAINT [FK_stockadjustment_discrepancy1]
GO
/****** Object:  ForeignKey [FK_stockadjustment_employee1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[StockAdjustment]  WITH CHECK ADD  CONSTRAINT [FK_stockadjustment_employee1] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[StockAdjustment] CHECK CONSTRAINT [FK_stockadjustment_employee1]
GO
/****** Object:  ForeignKey [FK_stockcarddetails_employee1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[StockCardDetails]  WITH CHECK ADD  CONSTRAINT [FK_stockcarddetails_employee1] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[StockCardDetails] CHECK CONSTRAINT [FK_stockcarddetails_employee1]
GO
/****** Object:  ForeignKey [FK_StockCardDetails_Item1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[StockCardDetails]  WITH CHECK ADD  CONSTRAINT [FK_StockCardDetails_Item1] FOREIGN KEY([ItemId])
REFERENCES [dbo].[Item] ([Id])
GO
ALTER TABLE [dbo].[StockCardDetails] CHECK CONSTRAINT [FK_StockCardDetails_Item1]
GO
/****** Object:  ForeignKey [FK_supplier_employee1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[Supplier]  WITH CHECK ADD  CONSTRAINT [FK_supplier_employee1] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[Supplier] CHECK CONSTRAINT [FK_supplier_employee1]
GO
/****** Object:  ForeignKey [FK_user_employee1]    Script Date: 02/05/2012 16:24:08 ******/
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_user_employee1] FOREIGN KEY([CreatedBy])
REFERENCES [dbo].[Employee] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_user_employee1]
GO
