<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="infragistics.web" type="System.Configuration.SingleTagSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	</configSections>
	<connectionStrings>
		<add name="InventoryEntities" connectionString="metadata=res://*/entity.Inventory.csdl|res://*/entity.Inventory.ssdl|res://*/entity.Inventory.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.10.2.55;Initial Catalog=Inventory;user id=CCMyBoss;password=nokia2012;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
	</connectionStrings>
	<infragistics.web styleSetName="Default" styleSetPath="~/ig_res"/>
	<system.web>
		<siteMap defaultProvider="DeptEmpSiteMapProvider" enabled="true">
			<providers>
				<add name="DeptEmpSiteMapProvider" description="EmployeeSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Mappings/DeptEmployee.sitemap"/>
				<add name="DeptHeadMapProvider" description="DeptHeadSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Mappings/DeptHead.sitemap"/>
				<add name="DeptRepSiteMapProvider" description="DeptRepSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Mappings/DeptRepresentative.sitemap"/>
				<add name="StoreClerkSiteMapProvider" description="StoreClerkSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Mappings/StoreClerk.sitemap"/>
				<add name="StoreManagerSiteMapProvider" description="StoreManagerSiteMap" type="System.Web.XmlSiteMapProvider" siteMapFile="~/Mappings/StoreSupervisorManager.sitemap"/>
			</providers>
		</siteMap>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Infragistics35.Web.v11.2, Version=11.2.20112.1019, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="Infragistics35.WebUI.Documents.Reports.v11.2, Version=11.2.20112.1019, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Infragistics35.WebUI.Documents.Excel.v11.2, Version=11.2.20112.1019, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics35.WebUI.Documents.Word.v11.2, Version=11.2.20112.1019, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics35.WebUI.Documents.IO.v11.2, Version=11.2.20112.1019, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics35.WebUI.WebResizingExtender.v11.2, Version=11.2.20112.1019, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics35.WebUI.Misc.v11.2, Version=11.2.20112.1019, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics35.WebUI.Shared.v11.2, Version=11.2.20112.1019, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<!--<add assembly="Infragistics4.Web.v11.2, Version=11.2.20112.1019, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics4.WebUI.Documents.Reports.v11.2, Version=11.2.20112.1019, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics4.WebUI.Documents.Excel.v11.2, Version=11.2.20112.1019, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics4.WebUI.Documents.Word.v11.2, Version=11.2.20112.1019, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics4.WebUI.Documents.IO.v11.2, Version=11.2.20112.1019, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics4.WebUI.WebDataInput.v11.2, Version=11.2.20112.1019, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="Infragistics4.WebUI.Shared.v11.2, Version=11.2.20112.1019, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>-->
				<add assembly="Infragistics35.WebUI.UltraWebChart.v11.2, Version=11.2.20112.1019, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
				<add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="log4net, Version=1.2.10.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.ReportAppServer.Controllers, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.ReportAppServer.DataDefModel, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
				</assemblies>
		</compilation>
	</system.web>
</configuration>
