 /*Button*/

a.buttonlarge
{
    color: #FFFFFF;
   font: bold 12px "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
   text-decoration: none;
   padding: 7px 12px;
   
   display: inline-block;
   text-align: center;
   text-shadow: 0 1px 0 #fff;
   -webkit-transition: border-color .218s;
   -moz-transition: border .218s;
   -o-transition: border-color .218s;
   transition: border-color .218s;
   background: #8DB1E2;
   background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
   background: #8DB1E2;
   border: solid 1px #dcdcdc;
   border-radius: 2px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   width: 70px;
}

a.buttonlarge:hover {
   color: #FFFFFF;
   background: #003399;
   border-color: #999;
   -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
a.buttonlarge:active {
   color: #FFFFFF;
   border-color: #444;
}


a.buttoningrid
{
    color: #FFFFFF;
   font: bold 12px "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
   text-decoration: none;
   padding: 7px 12px;
   
   display: inline-block;
   text-align: center;
   text-shadow: 0 1px 0 #fff;
   -webkit-transition: border-color .218s;
   -moz-transition: border .218s;
   -o-transition: border-color .218s;
   transition: border-color .218s;
   background: #8DB1E2;
   background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
   background: #8DB1E2;
   border: solid 1px #dcdcdc;
   border-radius: 2px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   width: 50px;
}

a.buttoningrid:hover {
   color: #FFFFFF;
   background: #003399;
   border-color: #999;
   -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
a.buttoningrid:active {
   color: #FFFFFF;
   border-color: #444;
}

a.button {
   color: #FFFFFF;
   font: bold 12px "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
   text-decoration: none;
   padding: 7px 12px;
   
   display: inline-block;
   text-align: center;
   text-shadow: 0 1px 0 #fff;
   -webkit-transition: border-color .218s;
   -moz-transition: border .218s;
   -o-transition: border-color .218s;
   transition: border-color .218s;
   background: #8DB1E2;
   background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F5F5F5),to(#F1F1F1));
   background: #8DB1E2;
   border: solid 1px #dcdcdc;
   border-radius: 2px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
   width: 40px;
}
a.button:hover {
   color: #FFFFFF;
   background: #003399;
   border-color: #999;
   -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
a.button:active {
   color: #FFFFFF;
   border-color: #444;
}



/***************************************/
.Defaultbutton
{
   /*background: #003399;*/
   background: #8DB1E2;
   font: bold 12px "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
   border: solid 1px #dcdcdc;
   text-decoration: none;
   padding: 7px 12px;
   color: #FFFFFF;    
   display: inline-block;
   text-align: center;
   /*text-shadow: 0 1px 0 #fff;*/ 
   -webkit-transition: border-color .218s;
   -moz-transition: border .218s;
   -o-transition: border-color .218s;
   transition: border-color .218s;
   border-radius: 2px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
    width:70px;
}

.Defaultbutton:hover
{
   /*background: white;
   border: solid 1px grey;
   font-family: Arial, sans-serif;
   font-size: 12px;
   font-weight: bold;
   color: Red;   
   height: 25px;*/
   color: #000000;
   background: #FF6501;
   border-color: #999;
   -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.Defaultbutton:active 
{
  color: #FFFFFF;
  border-color: #444;
}

/*****************************Large Button**************************************/
.DefaultLargebutton
{
   /*background: #003399;*/
   background: #8DB1E2;
   font: bold 12px "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
   border: solid 1px #dcdcdc;
   text-decoration: none;
   padding: 7px 12px;
   color: #FFFFFF;    
   display: inline-block;
   text-align: center;
   /*text-shadow: 0 1px 0 #fff;*/ 
   -webkit-transition: border-color .218s;
   -moz-transition: border .218s;
   -o-transition: border-color .218s;
   transition: border-color .218s;
   border-radius: 2px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
    width:100px;
}

.DefaultLargebutton:hover
{
   /*background: white;
   border: solid 1px grey;
   font-family: Arial, sans-serif;
   font-size: 12px;
   font-weight: bold;
   color: Red;   
   height: 25px;*/
   color: #000000;
   background: #FF6501;
   border-color: #999;
   -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.DefaultLargebutton:active 
{
  color: #FFFFFF;
  border-color: #444;
}

/*****************************Medium-Large Button*************************************/
.MediumLargeButton
{
   /*background: #003399;*/
   background: #8DB1E2;
   font: bold 12px "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
   border: solid 1px #dcdcdc;
   text-decoration: none;
   padding: 7px 12px;
   color: #FFFFFF;    
   display: inline-block;
   text-align: center;
   /*text-shadow: 0 1px 0 #fff;*/ 
   -webkit-transition: border-color .218s;
   -moz-transition: border .218s;
   -o-transition: border-color .218s;
   transition: border-color .218s;
   border-radius: 2px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
    width:150px;
}

.MediumLargeButton:hover
{
   /*background: white;
   border: solid 1px grey;
   font-family: Arial, sans-serif;
   font-size: 12px;
   font-weight: bold;
   color: Red;   
   height: 25px;*/
   color: #000000;
   background: #FF6501;
   border-color: #999;
   -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.MediumLargeButton:active 
{
  color: #FFFFFF;
  border-color: #444;
}


/*****************************Ultra-Large Button**************************************/
.DefaultUltraLargebutton
{
   /*background: #003399;*/
   background: #8DB1E2;
   font: bold 12px "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
   border: solid 1px #dcdcdc;
   text-decoration: none;
   padding: 7px 12px;
   color: #FFFFFF;    
   display: inline-block;
   text-align: center;
   /*text-shadow: 0 1px 0 #fff;*/ 
   -webkit-transition: border-color .218s;
   -moz-transition: border .218s;
   -o-transition: border-color .218s;
   transition: border-color .218s;
   border-radius: 2px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
    width:220px;
}

.DefaultUltraLargebutton:hover
{
   /*background: white;
   border: solid 1px grey;
   font-family: Arial, sans-serif;
   font-size: 12px;
   font-weight: bold;
   color: Red;   
   height: 25px;*/
   color: #000000;
   background: #FF6501;
   border-color: #999;
   -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.DefaultUltraLargebutton:active 
{
  color: #FFFFFF;
  border-color: #444;
}

/*****************************very-Large Button**************************************/
.DefaultVeryLargebutton
{
   /*background: #003399;*/
   background: #8DB1E2;
   font: bold 12px "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
   border: solid 1px #dcdcdc;
   text-decoration: none;
   padding: 7px 12px;
   color: #FFFFFF;    
   display: inline-block;
   text-align: center;
   /*text-shadow: 0 1px 0 #fff;*/ 
   -webkit-transition: border-color .218s;
   -moz-transition: border .218s;
   -o-transition: border-color .218s;
   transition: border-color .218s;
   border-radius: 2px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
    width:250px;
}

.DefaultVeryLargebutton:hover
{
   /*background: white;
   border: solid 1px grey;
   font-family: Arial, sans-serif;
   font-size: 12px;
   font-weight: bold;
   color: Red;   
   height: 25px;*/
   color: #000000;
   background: #FF6501;
   border-color: #999;
   -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.DefaultVeryLargebutton:active 
{
  color: #FFFFFF;
  border-color: #444;
}

/**********************************Button*****************************************/
.Searchbutton
{
   /*background: #003399;*/
   background: #8DB1E2;
   font: bold 12px "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
   border: solid 1px #dcdcdc;
   text-decoration: none;
   padding: 7px 12px;
   color: #FFFFFF;    
   display: inline-block;
   text-align: center;
   /*text-shadow: 0 1px 0 #fff;*/ 
   -webkit-transition: border-color .218s;
   -moz-transition: border .218s;
   -o-transition: border-color .218s;
   transition: border-color .218s;
   border-radius: 2px;
   -webkit-border-radius: 2px;
   -moz-border-radius: 2px;
    width:70px;
    height:30px;
}

.Searchbutton:hover
{
   /*background: white;
   border: solid 1px grey;
   font-family: Arial, sans-serif;
   font-size: 12px;
   font-weight: bold;
   color: Red;   
   height: 25px;*/
   color: #000000;
   background: #FF6501;
   border-color: #999;
   -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2) -webkit-box-shadow:0 2px 5px rgba(0, 0, 0, 0.2);
   box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}
.Searchbutton:active 
{
  color: #FFFFFF;
  border-color: #444;
}