body {
}
.DefaultLabelstyle
{
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    font-size:small;
    /*font-weight:bold;*/
}
.DefaultLabelstyle .a
{
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    font-size:small;
}

.ErrorLabelstyle
{
    font-family: "Helvetica Neue" , "Lucida Grande" , "Segoe UI" , Arial, Helvetica, Verdana, sans-serif;
    font-size: small;
    color: #FF0000;
}
