<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="InventoryEntities" connectionString="metadata=res://*/entity.Inventory.csdl|res://*/entity.Inventory.ssdl|res://*/entity.Inventory.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=10.10.2.55;Initial Catalog=Inventory;user id=CCMyBoss;password=nokia2012;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>